.card {
  width: 250px;
  background-color: #ccc;
  display: inline-block;
  margin-right: 10px;
}
.card img{
  width: 250px;
  height: 200px;
}

.card a {
  margin-right: 10px;
}

.card-inner {
  margin-left: 10px;
  width: 250px;
  height: 150px;
}